/vendor/
/node_modules/
/public/build/
/public/hot/
/public/storage/
/storage/
/bootstrap/cache/
/dist/
/build/
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
*.log
.DS_Store
Thumbs.db
composer.lock
package-lock.json
bun.lockb
/.vscode
/.idea